
body {
    background-color: #F5F5F5;
    overflow-x: hidden;
}

header {
    padding: 1em 6% 0 1em;
    border-bottom: 3px solid #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 4rem;
    font-size: 1.3em;
}
.hamburger-icon {
    display: none;
}
header nav ul li:hover {
    text-decoration: underline dotted;
}

.main-logo{
    width: 100px;
}
.location {
    margin-top: 3em;
    font-size: 1.5em;
    text-align: center;
}
.location-gray {
    color: #808080
}
.location-black {
    text-decoration: underline dotted;
}

.main-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'icon temperature additional';
    justify-items: center;
    gap: 0;
    margin-top: 3em;
}
.icon, .temperature, .additional-info-box, .icon p, .temperature p, .additional-info-box div{
    margin: 0;
    text-align: center;
    width: fit-content;
    padding-bottom: 15px;
    border: 0;
}
.additional-info-box div{
    display: flex;
    align-items: center;
}

.icon {
    grid-area: icon;
}
.temperature  {
    font-size: 150px;
    grid-area: temperature;
}

.additional-info-box {
    grid-area: additional;
    font-size: 1.4em;
}
.additional-info-box div img, .additional-info-box div p{
    display: inline;
    margin: 0;
}
.additional-info-box div img{
    padding-right: 2rem;
}
.degree-buttons {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
}
.degree-buttons div{
    display: inline;
}

.aqi-box {
    margin: 3rem 6rem 5rem 6rem;
    border-radius: 5px ;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 3rem;
}

.aqi-value {
    background-color: hsla(0, 0%, 0%, 0.2);
    display: flex;
    padding: 0 1.5rem 0 1.5rem;
    flex-direction: column;
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 90px;
    font-size: 0.8rem;
}
.aqi-value p:nth-child(2) {
    font-size: 1.8rem;
    margin: 0;
}

@media (max-width: 600px) {
    body {
        display: block;
    }
    header nav ul{
        margin: 0;
        padding-top: 50%;
        position: fixed;
        inset: 0 0 0 35%;
        flex-direction: column;
        gap: 2rem;
        background-color: hsla(85, 9%, 89%, 0.7);
        backdrop-filter: blur(0.2rem);
        transform: translateX(100%);
        transition: transform 350ms ease-in-out;
    }
    .hamburger-icon {
        display: block;
        width: 30px;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }
    .true {
        transform: translateX(0%);
    }

    .main-box {
        grid-template-columns: 1fr;
        grid-template-areas:
        "icon" 
        "temperature"
        "additional";
    }
}