
body {
    background-color: #F5F5F5;
}
img {
    pointer-events: none;
}
header {
    padding: 1em 6% 0 1em;
    border-bottom: 3px solid #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger-icon {
    padding-top: 1em;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 4rem;
    font-size: 1.3em;
}
.hamburger-icon {
    display: none;
}
header nav ul li:hover {
    text-decoration: underline dotted;
}

.main-logo{
    width: 100px;
}
.location {
    margin-top: 3em;
    font-size: 1.5em;
    text-align: center;
}
.location-gray {
    color: #808080
}
.location-black {
    text-decoration: underline dotted;
}

.main-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'icon temperature additional';
    justify-items: center;
    gap: 0;
    margin-top: 3em;
}
.icon, .temperature, .additional-info-box, .icon p, .temperature p, .additional-info-box div{
    margin: 0;
    text-align: center;
    width: fit-content;
    padding-bottom: 15px;
    border: 0;
}
.additional-info-box div{
    display: flex;
    align-items: center;
}

.icon {
    grid-area: icon;
}
.temperature  {
    font-size: 150px;
    grid-area: temperature;
}

.additional-info-box {
    grid-area: additional;
    font-size: 1.4em;
    padding-top: 10px;
}
.additional-info-box div img, .additional-info-box div p{
    display: inline;
    margin: 0;
}
.additional-info-box div img{
    padding-right: 2rem;
}
.degree-buttons {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
}
.degree-buttons div {
    display: inline;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For iOS Safari */
}


.aqi-box {
    margin: 3rem 6rem 0rem 6rem;
    border-radius: 5px ;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0rem;
}

.aqi-value {
    background-color: hsla(0, 0%, 0%, 0.1);
    display: flex;
    padding: 0 1.5rem 0 1.5rem;
    flex-direction: column;
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 90px;
    font-size: 0.8rem;
    margin: 3rem
}
.aqi-condition {
    margin: 1.5rem 0 0 3rem
}
.aqi-icon {
    width: 8rem;
    display: flex;
}
.aqi-value p:nth-child(2) {
    font-size: 1.8rem;
    margin: 0;
}
.aqi-condition p:nth-child(2) {
    font-size: 2rem;
}
.aqi-icon img {
    width: 100%;
    align-items: center;
}
.indices-main-box {
    margin: 4rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    border-radius: 5px;
    padding: 2rem 0;
    box-shadow: 0 0 10px -5px;
}
.indices-div img {
    width: 30px;
    display: block;
    margin: auto 0;
}
.indices-div  {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
    width: fit-content;
    min-width: 300px;
    border-bottom: 1px dotted currentColor;
}
.indices-div > * {
    width: fit-content;
}
.indices-div p:nth-child(3) {
    padding: 5px 10px;
    border-radius: 25px;
}
.indice-green {
    background-color: #9cd84e;
    color: #607631;
}
.indice-red {
    background-color: #f65e5f;
    color: #942431;
}
.indice-yellow {
    background-color: #facf39;
    color: #8c6c1d;
}
.indice-purple {
    background-color: #a070b6;
    color: #543b63;
}

.forecast-div {
    width: 80%;
    margin: 4em auto 0 auto;

}
.forecast-component {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    justify-items: center;
}
.forecast-component img {
    width: 100px;
}
.forecast-component * {
    margin: 0;
    width: fit-content;
    height: fit-content;
}
.footer-top-box {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 0.8em;
    width: fit-content;
    gap: 5rem;
    color: #707070;
}
.footer-top-box-content-div ul{
    list-style: none;
    padding: 0;
}
.footer-top-box-content-div ul li:hover {
    color: black;
}
@media (max-width: 600px) {

    header nav ul{
        margin: 0;
        padding-top: 50%;
        position: fixed;
        inset: 0 0 0 35%;
        flex-direction: column;
        gap: 2rem;
        background-color: hsla(85, 9%, 89%, 0.7);
        backdrop-filter: blur(0.2rem);
        transform: translateX(100%);
        transition: transform 350ms ease-in-out;
    }
    .hamburger-icon {
        display: block;
        width: 30px;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }
    .true {
        transform: translateX(0%);
    }

    .main-box {
        grid-template-columns: 1fr;
        grid-template-areas:
        "icon" 
        "temperature"
        "additional";
    }
    .temperature p {
        font-size: 5rem;
    }
    .icon img{
        width: 170px;
    }

}

@media (max-width: 850px) {
    .aqi-box {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 2fr;
        margin: 3rem 3rem 0 3rem;
        justify-items: center;
    } 
    .aqi-condition {
        height: fit-content;
        margin-left: 0;
        margin-top: 0;   
    }
    .aqi-condition p {
        margin: 0;
    }

    .aqi-value {
        margin-bottom: 0;
        width:60%
    }
    .aqi-condition p:nth-child(1) {
        display: none;
    }
    .aqi-icon {
        margin-bottom: 2em;
    }

}
@media (max-width: 850px) and (min-width: 500px) {
    
    .indices-main-box {
        margin: 8rem 3rem 4rem 3rem;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
   
    }
    .indices-div {
        margin: 0;
        width: fit-content;
        justify-content: start;
        grid-template-columns: 1fr 2fr 1fr;
        min-width: none;
    }
}

@media (max-width: 500px) {
    .indices-main-box {
        margin: 8rem 3rem 4rem 3rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

    }
    .indices-div {
        grid-template-columns: 1fr 1fr;
        min-width: 100px;
        grid-template-areas: 'theicon des'
                                'ind ind'
    }
    
    .indices-div img {
        grid-area: theicon;
    }
    
    .indices-div :nth-child(2) {
        grid-area: des
    }
    
    .indices-div :nth-child(3) {
        text-align: center;
        grid-area: ind;
        width: 80%;
    }
    .location {
        font-size: 1.2rem;
    }
}