@font-face {
    font-family: Nunito;
    src: url(../public/Nunito-font/Nunito-Black.ttf) ;
}
body {
    background-color: #F5F5F5;
    overflow-x: hidden;
}

header {
    padding: 1em 6% 0 1em;
    border-bottom: 3px solid #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 4rem;
    font-size: 1.3em;
}
.hamburger-icon {
    display: none;
}
header nav ul li:hover {
    border-bottom: 2px solid #333333;
}
@media (max-width: 600px) {
    header nav ul{
        margin: 0;
        padding-top: 50%;
        position: fixed;
        inset: 0 0 0 35%;
        flex-direction: column;
        gap: 2rem;
        background-color: hsla(85, 9%, 89%, 0.7);
        backdrop-filter: blur(0.2rem);
        transform: translateX(100%);
        transition: transform 350ms ease-in-out;
    }
    .hamburger-icon {
        display: block;
        width: 30px;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 9999;
    }
    .true {
        transform: translateX(0%);
    }
}
.main-logo{
    width: 100px;
}
.location {
    margin-top: 3em;
    font-size: 1.5em;
    text-align: center;
}
.location-gray {
    color: #808080
}
.location-black {
    text-decoration: underline dotted;
}